@mixin placeholder-color($color){
  input{
    &::-webkit-input-placeholder{
      color: $color;
      opacity: 1;
    }
    &::-moz-placeholder{
      color: $color;
      opacity: 1;
    }
    &:-moz-placeholder{/* Older versions of Firefox */
      color: $color;
      opacity: 1;
    }
    &:-ms-input-placeholder{
      color: $color;
      opacity: 1;
    }  
  }
}
