#primary .page .entry-content h2{
    font-size: 22px;
    @include breakpoint($bp-desktop){
        font-size: 28px;        
    }
}
.woocommerce ul.order_details li{
    border-right: none; 
    margin-bottom: 10px;
    @include breakpoint($bp-tablet){
        margin-bottom: 0px;
        border-right:1px dashed #d3ced2;
    }
}
.woocommerce-notice{
    margin-bottom: 10px;
}